[submodule "realsense-ros"]
	path = realsense-ros
	url = https://github.com/jwshen0109/realsense-ros.git
[submodule "cartesian_controllers"]
	path = cartesian_controllers
	url = https://github.com/jwshen0109/cartesian_controllers.git
[submodule "fmauch_universal_robot"]
	path = fmauch_universal_robot
	url = https://github.com/jwshen0109/fmauch_universal_robot.git
[submodule "aruco_ros"]
	path = aruco_ros
	url = https://github.com/jwshen0109/aruco_ros.git
[submodule "Universal_Robots_ROS_Driver"]
	path = Universal_Robots_ROS_Driver
	url = https://github.com/jwshen0109/Universal_Robots_ROS_Driver.git
[submodule "Geomagic_Touch_ROS_Drivers"]
	path = Geomagic_Touch_ROS_Drivers
	url = https://github.com/jwshen0109/Geomagic_Touch_ROS_Drivers.git
